@import 'src/styles/colors.scss';
@import 'src/styles/buttons.scss';
@import 'src/styles/mixins.scss';

.submit-banner {
    margin-top: 40px;
    padding: 15px;
    position: relative;

    &:before {
        content: "";
        background: url(/assets/images/bg_banner.png) no-repeat 0% 45%;
        opacity: 0.2;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }

    h4 {
        color: $dark-gray;
        font-size: 32px;
        font-weight: 300;
    }

    ul {
        @include medium {
            display: block;
        }
    }

    .title {
        width: 78%;

        @include medium {
            text-align: center;
            width: 100%;
        }
    }

    .button {
        width: 22%;

        @include medium {
            margin-top: 10px;
            text-align: center;
            width: 100%;
        }
    }

    @include medium {
        height: 100px;
    }

    @include small {
        height: 140px;
    }

    @include mobile {
        height: 170px;
    }

}