<div class='submit-banner'>
    <ul class="flex">
        <li class='title'>
            <h4>Is there anyone else you would want us to add?</h4>
        </li>
        <li class='button'>
            <button class="big-black-btn pointer">
                Submit a Name
            </button>
        </li>
    </ul>
</div>
