<div class="nav-menu">
    <div class="content">
        <h1><a routerLink="/home">Rule of Thumb.</a></h1>
        <a class="menu-icon pointer" (click)="collapse()">
            <i class="fa fa-bars fa-2x"></i>
        </a>
        <nav class="menu-options" #topNav>
            <ul class="flex">
                <li>
                    <a routerLink="/past-trials">Past Trials</a>
                </li>
                <li>
                    <a routerLink="/how-it-works">How It Works</a>
                </li>
                <li>
                    <a>Log In / Sign Up</a>
                </li>
                <li>
                    <a href="">
                        <img src='../assets/images/composite-path.png' />
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
