@import 'src/styles/mixins.scss';
@import 'src/styles/colors.scss';
@import 'src/styles/mixins.scss';

.nav-menu {
    background-image: linear-gradient(rgba(51, 51, 51, 0.81961) 0%, rgba(51, 51, 51, 0.52941) 49%, rgba(51, 51, 51, 0) 100%);
    left: 0px;
    top: 0px;
    width: 100%;
    height: 150px;
    z-index: 5;

    .content {
        @include margin;
        padding-top: 35px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        h1 {
            font-weight: 500;
        }

        .menu-options {
            margin-top: 10px;

            li {
                cursor: pointer;
                margin-left: 50px;
            }

            @include small {
                display: block;
                width: 100%;
                font-size: 28px;

                ul {
                    display: block;

                    a {
                        display: none;
                    }
                }
            }
        }

        .menu-icon {
            display: none;

            @include small {
                margin-right: 20px;
                display: block;
            }
        }

        @include medium {
            margin: 0 20px;
        }

        @include small {
            .responsive li {
                margin: 0;
                font-size: 35px;
                background-color: $translucent-gray;

                a {
                    color: $dark-black;
                    text-align: right;
                    padding-right: 20px;
                    display: block;

                    &:hover {
                        color: white;
                    }
                }

                &:hover {
                    background-color: rgba(51, 51, 51, 0.602);
                }
            }
        }
    }

    @include medium {
        height: 14vw;
    }

    @include small {
        background-size: 100%;
    }

}