<app-header></app-header>
<div class="content">
    <app-advertising-modal></app-advertising-modal>
    <app-votes></app-votes>
    <app-submit-banner></app-submit-banner>
</div>
<app-footer></app-footer>
