<div class="candidate"
    [ngStyle]="{'background': 'url(/assets/images/candidate_shadow.png) repeat-x 14% 100%, url(' + candidate?.img_path + ') no-repeat 70% 20% / cover' }">
    <div class="info-box">
        <h5>
            <button class="thumb blue-bg" *ngIf="isWinningVotes">
                <img src='../assets/images/t_up_small.png' />
            </button>
            <button class="thumb yellow-bg" *ngIf="!isWinningVotes">
                <img src='../assets/images/t_down_small.png' />
            </button>
            {{ candidate?.name }}
        </h5>
        <p class="small">
            <span class="bold">{{ formattedDate }}</span> in {{ candidate?.topic }}
        </p>
        <div *ngIf="!showVoteAgain">
            <p>{{ candidate?.description }}</p>
            <div class="flex buttons">
                <button class="thumb blue-bg pointer" (click)="check(true)" [ngClass]="{ 'selected': voteUp }">
                    <img src='../assets/images/t_up_small.png' />
                </button>
                <button class="thumb yellow-bg pointer" (click)="check(false)" [ngClass]="{ 'selected': voteDown }">
                    <img src='../assets/images/t_down_small.png' />
                </button>
                <button
                    [disabled]="!canVote"
                    [ngClass]="{'disabled': !canVote }" 
                    class="white-btn pointer" 
                    (click)="persistCandidate()">
                    Vote now
                </button>
            </div>
        </div>
        <div *ngIf="showVoteAgain">
            <p>Thank you for voting!</p>
            <br>
            <div class="flex buttons large">
                <button class="white-btn pointer" (click)="hideVoteAgain()">
                    Vote again
                </button>
            </div>
        </div>
    </div>
    <div class='vote-bar' *ngIf="candidate?.thumbs_up || candidate?.thumbs_down">
        <div class="flex">
            <div class='bar blue-bg' [ngStyle]="{ 'width': thumbsUpPorcentage }"></div>
            <div class='bar yellow-bg' [ngStyle]="{ 'width': thumbsDownPorcentage }"></div>
        </div>
        <div class="percentage">
            <div>
                <img src='../assets/images/t_up_mid.png' />
                <span>{{ thumbsUpPorcentage }}</span>
            </div>
            <div>
                <span>{{ thumbsDownPorcentage }}</span>
                <img src='../assets/images/t_down_mid.png' />
            </div>
        </div>
    </div>
</div>
