@import 'src/styles/colors.scss';
@import 'src/styles/buttons.scss';
@import 'src/styles/mixins.scss';

.candidate {
    margin-top: 40px;
    min-width: 492px;
    height: 550px;
    padding: 40px;
    box-sizing: border-box;
    position: relative;

    .info-box {
        position: absolute;
        bottom: 0;
        margin-bottom: 80px;

        h5 {
            max-width: 412px;
            font-weight: 400;
            font-size: 45px;
            position: relative;

            button {
                margin-bottom: 10px;
                position: absolute;
                margin-left: -40px;
                bottom: 0;
            }
        }

        p {
            max-width: 380px;
        }

        .small {
            font-size: 12px;
            margin-bottom: 20px;
        }

        .buttons {
            margin-top: 20px;
            max-width: 190px;
            justify-content: space-between;
        }

        .large {
            max-width: unset;
        }

        .thumb {
            padding: 7px;
            height: 31px;
            border: none;
            margin-top: 4px;

            &:focus {
                outline: none;
            }
        }

        .selected {
            margin-top: 2px;
            height: 35px;
            border: 2px solid white;
        }
    }

    .vote-bar {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        font-size: 20px;
        font-size: 30px;

        .bar {
            -webkit-transition: width 2s;
            transition: width 2s;
            height: 49px;
            opacity: 0.702;
        }

        .percentage {
            position: absolute;
            bottom: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 0 10px 5px 10px;
            box-sizing: border-box;

            span {
                padding: 5px;
            }
        }
    }

     @include small {
        min-width: 100%;        
    }

}