@import 'src/styles/colors.scss';

.white-btn {
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid white;
    padding: 10px 19px;
    color: white;
    font-size: 13px;
}

.disabled {
    color: gray;
    border-color: gray;
}

.big-black-btn {
    font-size: 20px;
    color: $dark-black;
    background: none;
    line-height: 1.714;
    border: 3px solid $dark-black;
    min-width: 204px;
    height: 52px;
}