$dark-black: rgb(51, 51, 51);
$blue-up: rgb(28, 187, 180);
$yellow-down: rgb(255, 173, 29);
$light-gray: rgb(235, 235, 235);
$dark-gray: rgb(70, 70, 70);
$translucent-gray: rgba(255, 255, 255, 0.702);
$translucent-black: rgba(112, 112, 112, 0.302);

.blue-bg {
    background-color: $blue-up;
}

.yellow-bg {
    background-color: $yellow-down;
}