$mobile-max-width: 414px;
$tablet-min-width: 768px;
$desktop-min-width: 1024px;
$desktop-max-width: 1200px;

@mixin mobile {
    @media (max-width: #{$mobile-max-width + 1px}) {
      @content;
    }
}

@mixin small {
  @media (max-width: #{$tablet-min-width - 1px}) {
    @content;
  }
}

@mixin medium {
  @media screen and (max-width: #{$desktop-min-width - 1px}) {
    @content;
  }
}

@mixin large {
  @media (max-width: #{$desktop-max-width - 1px}) {
    @content;
  }
}

@mixin margin{
    max-width: $desktop-min-width;
    margin-left: auto;
    margin-right: auto;
}
