@import 'src/styles/colors.scss';
@import 'src/styles/mixins.scss';

.closing-in-bar {
    background-color: $translucent-black;
    left: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    height: 50px;

    .left {
        position: absolute;
        left: 0;
        height: 50px;

        p {
            padding: 18px 20px 18px 0px;
            font-size: 14px;
            text-transform: uppercase;
            text-align: right;
        }
    }

    .right {
        background-color: $translucent-gray;
        position: absolute;
        right: 0;
        height: 50px;

        p {
            padding-top: 2px;
            display: inline-block;
            font-size: 35.472px;
            color: $dark-gray;
            line-height: 1.353;
            vertical-align: top;
            box-sizing: border-box;
        }

        .arrow-section {
            display: inline-block;
        }

        .arrow-up {
            margin-left: -8px;
            padding-top: 20px;
            border-bottom: 6px solid transparent;
            border-right: 8px solid $translucent-gray;
        }

        .arrow-down {
            margin-left: -8px;
            padding-top: 20px;
            border-top: 6px solid transparent;
            border-right: 8px solid $translucent-gray;
        }
    }

    @include medium {
        .left p {
            font-size: 12px;
        }

        .right p {
            padding-top: 5px;
            font-size: 30px;
        }
    }

    @include small {
        .left p {
            font-size: 10px;
        }

        .right p {
            padding-top: 12px;
            font-size: 18px;
        }
    }

}