<div class='closing-in-bar'>
    <div class="left" [ngStyle]="{'width': leftWidthPercent }">
        <p>closing in</p>
    </div>
    <div class='right' [ngStyle]="{'width': rightWidthPercent }">
        <div class='arrow-section'>
            <div class='arrow-up'></div>
            <div class='arrow-down'></div>
        </div>
        <p>
            <span class="light-bold">{{ daysLeft }}</span> days
        </p>
    </div>
</div>
