@import 'src/styles/mixins.scss';

.hero {
    @include margin;

    .vote-box {
        padding: 35px 70px 35px 35px;
        width: 512px;
        box-sizing: border-box;
        height: 370px;
        position: relative;
        z-index: 1;

        &:before {
            content: "";
            background-image: url(/assets/images/bg_box.png), url(/assets/images/bg_distorted.png);
            background-position: 20% 20%;
            top: 0;
            left: 0;
            right: 0;
            position: absolute;
            height: 100%;
            z-index: -1;
        }

        h2 {
            font-size: 60px;
            font-weight: 400;
        }

        a {
            text-decoration: underline;
            font-size: 14px;
        }

        .text {
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 21px;
            line-height: 1.143;

            &:last-child {
                margin-top: 30px;
            }
        }

        @include large {
            height: 320px;

            h2 {
                font-size: 48px;
            }

            .text {
                font-size: 18px;
            }

        }

        @include medium {
            padding: 25px;
            width: 420px;
            height: 230px;

            h2 {
                font-size: 36px;
            }

            .text {
                margin: 15px 0 !important;
                font-size: 16px;
            }
        }
    }

    .thumbs {
        width: 256px;
        height: 80px;
        border: none;
        vertical-align: top;

        @include large {
            height: 60px;
        }

        @include medium {
            width: 210px;
        }
    }

    .up {
        background-color: rgba(28, 187, 180, 0.902);
    }

    .down {
        background-color: rgba(255, 173, 29, 0.902);
    }

    @include medium {
        padding-left: 20px;
    }

    @include small {
        display: none;

    }
}