<div class="hero">
    <div class='vote-box'>
        <p>What's your opinion on</p>
        <h2>Pope Francis?</h2>
        <div class='text'>He's taking tough on clergy sexual abuse, but is he just another papal pervert protector?
            (thumbs
            down) or a
            true pedophile pushing pontiff (thumbs up)</div>
        <p>
            <a href='https://en.wikipedia.org/wiki/Pope_Francis'>
                <img src='../assets/images/wiki.png'>More information</a>
        </p>
        <div class='text'>
            <b>What's Your Verdict?</b>
        </div>
    </div>
    <div class="flex">
        <button class='thumbs up'>
            <img src='../assets/images/t_up.png' />
        </button>
        <button class='thumbs down'>
            <img src='../assets/images/t_down.png' />
        </button>
    </div>
</div>
