@import 'src/styles/colors.scss';
@import 'src/styles/mixins.scss';

.votes-container {
    margin-top: 35px;

    h2 {
        font-size: 40px;
        color: $dark-black;
        line-height: 1.2;
        font-weight: 300;

        @include medium {
            text-align: center;
        }
    }

    .wrap {
        justify-content: space-between;
        flex-wrap: wrap;

        @include medium {
            display: block;
        }
    }
}