<div class="votes-container">
    <h2>Votes</h2>
    <ul class="flex wrap">
        <li *ngFor="let candidate of candidates">
            <app-candidate
                [candidate]="candidate"
                (onCandidateChange)="persistCandidate($event)"
            ></app-candidate>
        </li>
    </ul>
</div>