/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
$Lato: 'Lato';

* {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

body {
    color: white;
    font-family: $Lato;
    font-weight: lighter;
}

.flex {
    display: flex;
}

.light-bold {
    font-weight: 400;
}

.bold {
    font-weight: bold;
}

.pointer {
    cursor: pointer;
}
