@import 'src/styles/mixins.scss';

.header {
    height: 720px;
    width: 100%;
    background: url('../../../../assets/images/pope.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;

    @include large {
        height: 58vw;
        background-position: top center;
    }

    @include medium {
        min-height: 380px;
    }
}
