<footer>
    <div class="left-menu">
        <ul>
            <li><a routerLink='/'>Terms and Conditions</a></li>
            <li><a routerLink='/'>Privacy Policy</a></li>
            <li><a routerLink='/'>Contact Us</a></li>
        </ul>
    </div>
    <div class="social-menu">
        <ul>
            <li>
                <p>Follow Us</p>
            </li>
            <li>
                <a href=''><img src='../assets/images/fb.png' /></a>
            </li>
            <li>
                <a href=''><img src='../assets/images/tt.png' /></a>
            </li>
        </ul>
    </div>
</footer>
