@import 'src/styles/mixins.scss';
@import 'src/styles/colors.scss';
@import 'src/styles/mixins.scss';

footer {
    @include margin;
    height: 60px;
    margin-top: 40px;
    background-image: linear-gradient(to right, #333 10%, rgba(255, 255, 255, 0) 00%);
    background-position: top;
    background-size: 6px 1px;
    background-repeat: repeat-x;
    padding-top: 30px;
    font-size: 12px;
    line-height: 1.6;
    display: flex;
    justify-content: space-between;

    a,
    p {
        color: $dark-black;
        text-decoration: none;
    }

    li {
        vertical-align: top;
        display: inline-block;

        p {
            margin-top: 5px;
        }
    }

    .left-menu {
        li {
            margin-right: 20px;
        }

        @include medium {
            margin-left: 20px;
        }

        @include small {
            text-align: center;
        }
    }

    .social-menu {
        li {
            margin-left: 20px;
        }

        @include medium {
            margin-right: 20px;
        }

        @include small {
            display: block;
            margin-top: 20px;
            text-align: center;
            padding-bottom: 20px;
        }
    }

    @include small {
        display: block;
    }

    @include medium {
        width: 100%;
    }
}