<div class='advertising-modal' *ngIf="!isModalClosed">
    <ul>
        <li class='left'>
            <h3>Speak out. Be heard.
                <span>Be counted</span>
            </h3>
        </li>
        <li class='center'>
            <p>Rule of thumb is a crowd sourced court of public opinion where anyone and everyone can speak out and speak
                freely. It's easy: You share your opinion. we analyze and put the data in public report.</p>
        </li>
        <li class='right'>
            <button class="close-btn pointer" (click)="closeModal()">
                <img src='../assets/images/close_modal.png' />
            </button>
        </li>
    </ul>
</div>