@import 'src/styles/colors.scss';
@import 'src/styles/mixins.scss';

.advertising-modal {
    margin-top: 35px;
    background-color: $light-gray;
    width: 100%;
    color: $dark-gray;
    padding: 20px 25px;
    box-sizing: border-box;

    ul {
        display: flex;
        justify-content: space-between;
        position: relative;

        h3 {
            font-size: 22px;
            font-weight: 100;
            color: $dark-black;
            line-height: 1;

            span {
                font-size: 36px;
                font-weight: bold;
                letter-spacing: 0.5px;
            }
        }

        .close-btn {
            position: absolute;
            right: 0;
            top: 20px;
            background-color: unset;
            border: none;
        }

        .left {
            width: 22%;
        }

        .center {
            width: 70%;
            font-size: 15px;
            vertical-align: top;
            padding-top: 8px;
            line-height: 1.5;
            letter-spacing: -0.5px;
        }

        .right {
            width: 7%;
        }
    }

    @include medium {
        height: 150px;

        ul {
            text-align: center;
            display: block;

            .left {
                width: 200px;
                margin-left: auto;
                margin-right: auto;
            }

            .center {
                margin-left: auto;
                margin-right: auto;
                width: 90%
            }

            .close-btn {
                top: 10px;
            }
        }
    }

    @include small {
        height: 170px;
    }

    @include mobile {
        height: 200px;
    }
}